.meal-form{
    text-align: right;
}

.meal-form-input{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.meal-form-input label{
    font-weight: bold;
}

.meal-form-input input{
    width: 36px;
    border-radius: 5px;
    border: 1px solid #dad7d7;
    padding-left: 5px;
    font: inherit;
    margin-left: 10px;
}

.meal-form button{
    background-color: #8a2b06;
    color: white;
    border: 1px solid #8a2b06;
    border-radius: 20px;
    font: inherit;
    font-weight: bold;
    padding: 5px 30px;
    cursor: pointer;
}

.meal-form button:hover,
.meal-form button:active{
    background-color: #6b2205;
    border: 1px solid #6b2205;
}