.meal-item{
    border-bottom: 1px solid #dad7d7;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.meal-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.meal-name{
    margin: 0px;
}

.meal-description{
    font-style: italic;
}

.meal-price{
    color: #ad5502;
    font-weight: bold;
    font-size: 1.25rem;
}

.meal-name, .meal-description, .meal-price{
    margin-top: 2px;
}